<div class="card  m-4">
    <div class="card-body row ms-1">
        <div class="offset-1 col-1">
            <h1 class="margin-5px">07:45</h1>
            <h2>Dublin</h2>
        </div>
        
        <div class="col-4">
            <hr>
            <p class="text-center">PKP Intercity</p>
        </div>

        <div class="col-1">
            <h1 class="margin-5px">07:45</h1>
            <h2>Warsaw</h2>
        </div>
        
        <div class="offset-1 col-4">
            <button [disabled]=true class="btn btn-outline-secondary w-25 h-100 me-1">
                <p>Student</p>
                <p>25 zł</p>
            </button>
            <button class="btn btn-warning w-25 h-100  me-1">
                <p>Normal</p>
                <p>50 zł</p>
            </button>

            <button [disabled]=true class="btn btn-outline-secondary w-25 h-100  me-1">
                <p>1st Class</p>
                <p>200 zł</p>
            </button>
        </div>
    </div>
</div>