<div class="card  m-4" style="background-color: khaki;">
    <div class="card-body row ms-1">
        <div class="offset-1 col-3">
            <h3 class="text-center" style="margin-bottom: 0px;">{{startStation}}  ({{outboundTime |  date:'hh:mm'}})</h3>
        </div>
        
        <div class="offset-1 col-1">
            <p class="text-center"  style="margin-bottom: 0px;">{{operator}}</p>
        </div>

        <div class="offset-1 col-2">
            <h3 class="text-center"  style="margin-bottom: 0px;">{{endStation}}  ({{arrivalTime |  date:'hh:mm'}})</h3>
        </div>
    </div>
</div>