<mat-toolbar color="primary">
    <a class="rail-table-icon">RailT</a>
    <span class="example-spacer"></span>
    <a routerLink="/search" routerLinkActive="active" class="margin-right-50 link">Search route</a>
    <a routerLink="/check" routerLinkActive="active" class="margin-right-50 link">Check ticket</a>
</mat-toolbar>

<alert-list></alert-list>
<router-outlet></router-outlet>

<mat-toolbar class="footer" color="primary">
  <p>RailTable - application to find perfect train </p>
</mat-toolbar>
