<div class="container">
    <rtw-transfer *ngFor="let transfer of transfers" 
                [endStation]="transfer?.endStation?.name" [startStation]="transfer?.startStation?.name" 
                [outboundTime]="transfer.outboundTime" [arrivalTime]="transfer.arrivalTime"
                [operator]="transfer.operator" [firstClassPrice]="transfer.firstClassPrice"
                [secondClassPrice]="transfer.secondClassPrice" [isPricePanelVisible]=false
                [interchangeTransfers]="transfer.interchangeTransfers">
    </rtw-transfer>
</div>
