<div class="container">
    <rtw-transfer *ngFor="let transfer of transfers"
                  [endStation]="transfer?.endStation?.name" [startStation]="transfer?.startStation?.name"
                  [outboundTime]="transfer.outboundTime" [arrivalTime]="transfer.arrivalTime"
                  [operator]="transfer.operator" [firstClassPrice]="transfer.firstClassPrice"
                  [secondClassPrice]="transfer.secondClassPrice"
                  [allSeatsForSecondClass]="transfer?.allSeatsForSecondClass"
                  [availableSeatsForSecondClass]="transfer?.availableSeatsForSecondClass"


                  [allSeatsForFirstClass]="transfer?.allSeatsForFirstClass"
                  [availableSeatsForFirstClass]="transfer?.availableSeatsForFirstClass"
                  [interchangeTransfers]="transfer.interchangeTransfers" [sectionsIds]="transfer?.sectionsIds">
    </rtw-transfer>
</div>
